
    <h1><%= title %></h1>

    <dl>
        <dt>氏名</dt>
        <!-- ASEタグ (<%=  xxxx  %> )-->>
        <dd><%= user.name %></dd>
        <dt>出身地</dt>
        <dd><%= user.birthplace %></dd>
        <dt>趣味</dt>
        <dd>
            <ul>
                <!-- user.hobby を繰り返しliタグで表示-->
                <%= user.hobby.forEach((value) => { %>
                    <li>
                        <%= value %>
                    </li>
                <% }) %>
            </ul>
        </dd>
    </dl>
